<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="width: 100vw; background-color: grey; padding: 1rem;">
      <h2><%= link_to "Batch 806", home_path %></h2>
      <%= link_to "About Us", about_path %>
      <%= link_to "Contact Us", contact_path %>
    </div>
    <%= yield %>
    <p>This is a footer. It is <%= Time.now %></p>
  </body>
</html>
